body{
    margin: 0px;
    font-family: 'Tektur', sans-serif;
    background-color: #555555;
    overflow: hidden;
    height: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}

/*ESTA ES TODA LA PARTE DEL HEADER */
.headerContainer{
    width: 100%;
    height: 80px;
}
header{
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
}

header div img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 20px;
}
/*TITULO Y SUBTITULO */
.titulo{
    float: left;
    width: 500px;
    height: 50px;
    margin: 10px 10px 40px 0px;

}

header div div h1{
    size: 100px;
}

/*CUENTA*/
.LoginCartera{
    width: 120px; 
    height: 80px;
    color: white; 
    display: flex;
    align-items: center;
    padding: 0 20px; 
    margin-left: auto;
    gap: 20px;
}
.cuenta, .valorCartera{
    margin-top: 1px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.cuenta img, .valorCartera img{
    width: 50px;
    height: 50px;
}

/*USUARIOS*/

.usuarios{
    width: 600px; 
    height: 700px; 
    background-color: #333;
    border-radius: 20px;
    margin: 20px; /* Espaciado alrededor */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
    outline: none; /* Elimina el contorno azul predeterminado */    
    float: left;
}

.usuarios h1{
    color: white;
    text-align: center;
    margin: 10px auto;
}

.usuarios-tabla {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.usuarios-tabla th, .usuarios-tabla td {
    padding: 10px;
    border-bottom: 1px solid white;
}


/*BOTON DESPLEGABLE*/ 
/* From Uiverse.io by NorthFishHasNa */ 
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }