body{
    margin: auto;
    font-family: 'Tektur', sans-serif;
    background-color: #555555;
}
.container{
    width: auto;
    margin: 0 auto;

}

/*ESTA ES TODA LA PARTE DEL HEADER */
.headerContainer{
    width: 100%;
    height: 80px;
}
header{
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
}

header div img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 20px;
}
/*TITULO Y SUBTITULO */
.titulo{
    float: left;
    width: 500px;
    height: 50px;
    margin: 10px 10px 40px 0px;

}

header div div h1{
    size: 100px;
}

/*CUENTA*/

.cuenta {
    margin-top: 1px;
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: auto;
    float: right;
    justify-content: center;
    align-items: center;
}

.cuenta img {
    width: 50px;
    height: 50px;
}

/*USUARIOS*/

.usuarios{
    width: 600px; 
    height: 700px; 
    background-color: #333;
    border-radius: 20px;
    margin: 20px; /* Espaciado alrededor */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
    outline: none; /* Elimina el contorno azul predeterminado */    
    float: left;
}

.usuarios h1{
    color: white;
    text-align: center;
    margin: 10px auto;
}

.usuarios-tabla {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.usuarios-tabla th, .usuarios-tabla td {
    padding: 10px;
    border-bottom: 1px solid white;
}


/*BOTON DESPLEGABLE*/ 

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50; /* Color del botón */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar encima */
}

.dropdown-content {
    display: none; /* Ocultar por defecto */
    position: absolute; /* Posición absoluta dentro del contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    min-width: 160px; /* Ancho mínimo */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1; /* Encima de otros elementos */
}

.dropdown-content a {
    color: black; /* Color de enlace */
    padding: 12px 16px; /* Espaciado */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Desplegar como bloque */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el ratón */
}