body{
    margin: 0px;
    font-family: 'Tektur', sans-serif;
    background-color: #555555;
    overflow: hidden;
    height: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;


}

.contenedor1{
    width: 1024px;
    height: 768px;
    display: flex;
    margin: 0 auto;
}

.contenedor2{
    position: fixed;
    top: 80px; /* Espaciado desde la parte superior */
    right: 1px; /* Espaciado desde el borde derecho */
    width: 450px;
    height: 900px;
    border-radius: 20px;
    color: white;
    padding: 20px    
}

/*ESTA ES TODA LA PARTE DEL HEADER */
.headerContainer{
    width: 100%;
    height: 80px;
}
header{
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
}

header div img{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 20px;
}
/*TITULO Y SUBTITULO */
.titulo{
    float: left;
    width: 500px;
    height: 50px;
    margin: 10px 10px 40px 0px;

}

header div div h1{
    size: 100px;
}

/*CUENTA*/
.LoginCartera{
    width: 120px; 
    height: 80px;
    color: white; 
    display: flex;
    align-items: center;
    padding: 0 20px; 
    margin-left: auto;
    gap: 20px;
}
.cuenta, .valorCartera{
    margin-top: 1px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.cuenta img, .valorCartera img{
    width: 50px;
    height: 50px;
}

/*.valorCartera{
    margin-top: 1px;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color: green;
}

.valorCartera img{
    width: 50px;
    height: 50px;
}*/
/* GRAFICO*/
.grafico{
    width: 1400px;
    height: 650px;
    background-color: #333;
    border-radius: 20px;
    margin: 80px 0px 0px 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra debajo */
    outline: none; /* Elimina el contorno azul predeterminado */    
    float: left;
}

.compraVenta{
    width: 1310px; 
    height: 100px; 
    position: relative; 
    margin: 610px 0px 0px 20px; 
    text-align: center; 
    padding: 20px; 
    border-radius: 20px;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 100px; 
}

.compra, .venta{
    width: 200px; 
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    text-align: center;
}

.BtnCompra{
    width: 150px;
    height: 100px;
    background-color: green;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: 'Tektur', sans-serif;
}

.BtnVenta{
    width: 150px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: 'Tektur', sans-serif;
}
/*ACTIVOS*/

.activos{
    width: 400px;
    height: 400px;
    background-color: #333;
    border-radius: 20px;
    margin: 20px 20px 0px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra debajo */
    outline: none; /* Elimina el contorno azul predeterminado */    
    float: right;
}

.activos h1{
    color: white;
    text-align: center;
    margin: 10px auto;
}

/*AQUI ES LA PARTE DE LOS INTERCAMBIOS DE ACTIVOS*/

.cambio{
    width: 400px;
    height: 400px;
    background-color: #333;
    border-radius: 20px;
    margin: 20px 20px 0px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra debajo */
    outline: none; /* Elimina el contorno azul predeterminado */    
    float: right;
}

.cambio h1{
    color: white;
    text-align: center;
    margin: 10px auto;
}

.container{
    width: 320px;
    margin: 0 auto;
}

.Activos{
    border: 1px solid white;
    width: 320px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.Activos{
    width: 150px;
    height: 50px;
    background-color: #727FFF;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-family: 'Tektur', sans-serif;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra debajo */
    outline: none; /* Elimina el contorno azul predeterminado */    
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.botonC{
    margin: 50px auto;
    width: 150px;
}





/*AQUI VA TODO LO DE LAS CRIPTOMONEDAS*/

/* styles.css */
.bitcoin-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px auto;
}
.gold-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px auto;
}
.euro-container {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: 20px auto;
}

#bitcoin-image {
    width: 50px;
    height: 50px;
}#gold-image {
    width: 50px;
    height: 50px;
}
#euro-image {
    width: 50px;
    height: 50px;
}

#bitcoin-price {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}